/* base */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
    font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,"Hiragino Sans GB",Arial,sans-serif;
    line-height: 1.2;
    font-size: 12px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    transition: background-color,color ease 300ms;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-index-1 {
  @include sprite($index1);
}
.icon-index-2 {
  @include sprite($index2);
}
.icon-index-3 {
  @include sprite($index3);
}
.icon-index-4 {
  @include sprite($index4);
}
.icon-index-5 {
  @include sprite($index5);
}
.icon-index-6 {
  @include sprite($index6);
}
.icon-index-7 {
  @include sprite($index7);
}
.icon-index-8 {
  @include sprite($index8);
}
.icon-index-9 {
  @include sprite($index9);
}
.icon-index-10 {
  @include sprite($index10);
}
.icon-index-11 {
  @include sprite($index11);
}
.icon-index-12 {
  @include sprite($index12);
}
.icon-index-13 {
  @include sprite($index13);
}

.icon-title-1 {
  @include sprite($title1);
}
.icon-title-2 {
  @include sprite($title2);
}
.icon-title-3 {
  @include sprite($title3);
}
.icon-title-4 {
  @include sprite($page1);
}
.icon-title-5 {
  @include sprite($page2);
}
.icon-title-6 {
  @include sprite($page3);
}
.icon-title-7 {
  @include sprite($page4);
}
.icon-title-8 {
  @include sprite($page5);
}

.icon-inner-1 {
  @include sprite($pro1);
}
.icon-inner-2 {
  @include sprite($pro2);
}
.icon-inner-3 {
  @include sprite($pro3);
}
.icon-inner-4 {
  @include sprite($down_btn);
}
.icon-inner-5 {
  @include sprite($down_and);
}
.icon-inner-6 {
  @include sprite($down_pc);
}
.icon-inner-7 {
  @include sprite($cat1);
}
.icon-inner-8 {
  @include sprite($cat2);
}
.icon-inner-9 {
  @include sprite($cat3);
}

.icon-side-1 {
  @include sprite($tel);
}
.icon-side-2 {
  @include sprite($person);
}
.icon-side-3 {
  @include sprite($qq);
}
.icon-side-4 {
  @include sprite($wechat);
}
.icon-side-5 {
  @include sprite($arrow_top);
}

.icon-num-1 {
  @include sprite($ys-1);
}
.icon-num-2 {
  @include sprite($ys-2);
}
.icon-num-3 {
  @include sprite($ys-3);
}
.icon-num-4 {
  @include sprite($ys-4);
}
.icon-num-5 {
  @include sprite($ys-5);
}
.icon-num-6 {
  @include sprite($ys-6);
}
